Repository bp/resqpy, pull requests merged in 2021-12, with the labels that each got.

#327 Additional integration tests for property.py
  resqpy/property/__init__.py
  resqpy/property/_collection_get_attributes.py
  tests/conftest.py
  tests/test_property.py
Labels: tests

#309 Refactoring well tests -- draft
  resqpy/well/_blocked_well.py
  resqpy/well/_deviation_survey.py
  resqpy/well/_trajectory.py
  resqpy/well/_wellbore_frame.py
  resqpy/well/_wellbore_marker_frame.py
  resqpy/well/well_object_funcs.py
  tests/test_blocked_well.py
  tests/test_deviation_survey.py
  tests/test_md_datum.py
  tests/test_trajectory.py
  tests/test_well.py
  tests/test_well_object_funcs.py
  tests/test_well_utils.py
  tests/test_wellbore_frame.py
  tests/test_wellbore_marker_frame.py
Labels: refactor, tests

#322 Remodelling (model module workover)
  resqpy/model.py
  resqpy/model/__init__.py
  resqpy/model/_catalogue.py
  resqpy/model/_context.py
  resqpy/model/_forestry.py
  resqpy/model/_grids.py
  resqpy/model/_hdf5.py
  resqpy/model/_model.py
  resqpy/model/_xml.py
  resqpy/olio/write_hdf5.py
  tests/test_model.py
Labels: refactor

#331 Refactoring - ongoing test addition and refactoring for property_common.py
  resqpy/property/__init__.py
  resqpy/property/property_common.py
  tests/test_property.py
Labels: refactor, tests

#333 clean up of 3 warnings generated by tests
  resqpy/olio/vector_utilities.py
  tests/test_point_inclusion.py
  tests/test_property.py
Labels: tests

#281 Integration - rq_import.py - Unit tests and refactoring for rq_import
  resqpy/rq_import.py
  resqpy/rq_import/__init__.py
  resqpy/rq_import/_add_ab_properties.py
  resqpy/rq_import/_add_surfaces.py
  resqpy/rq_import/_grid_from_cp.py
  resqpy/rq_import/_import_nexus.py
  resqpy/rq_import/_import_vdb_all_grids.py
  resqpy/rq_import/_import_vdb_ensemble.py
  tests/test_rq_import.py
Labels: refactor, tests

#340 Breaking changes WellboreMarkerFrame class
  resqpy/well/__init__.py
  resqpy/well/_deviation_survey.py
  resqpy/well/_wellbore_marker.py
  resqpy/well/_wellbore_marker_frame.py
  tests/test_trajectory.py
  tests/test_well_object_funcs.py
  tests/test_wellbore_frame.py
  tests/test_wellbore_marker.py
  tests/test_wellbore_marker_frame.py
Labels: enhancement, tests

#339 fix of bug affecting elemental type stored in hdf5 array
  resqpy/olio/write_hdf5.py
  resqpy/property/property.py
  resqpy/property/property_collection.py
  tests/test_write_hdf5.py
Labels: bug

#341 Integration: add_surfaces bug - Remove deprecated call to crs_uuid
  resqpy/property/__init__.py
  resqpy/property/_collection_add_part.py
  resqpy/property/_collection_create_xml.py
  resqpy/property/_collection_get_attributes.py
  resqpy/property/_collection_support.py
  resqpy/property/grid_property_collection.py
  resqpy/property/property.py
  resqpy/property/property_collection.py
  resqpy/property/property_common.py
  resqpy/property/property_kind.py
  resqpy/property/string_lookup.py
  resqpy/property/well_interval_property.py
  resqpy/property/well_interval_property_collection.py
  resqpy/property/well_log.py
  resqpy/property/well_log_collection.py
  resqpy/rq_import/_add_surfaces.py
Labels: bug

#335 WIP: Refactoring - Additional tests and refactoring for remaining property classes
  resqpy/property/property_collection.py
  tests/conftest.py
  tests/test_property.py
Labels: refactor, tests

#343 Tidy up submodule docs: remove filename prefixes
  resqpy/crs.py
  resqpy/fault/__init__.py
  resqpy/grid_surface.py
  resqpy/lines/__init__.py
  resqpy/model/__init__.py
  resqpy/organize/__init__.py
  resqpy/property/__init__.py
  resqpy/rq_import/__init__.py
  resqpy/strata/__init__.py
  resqpy/surface/__init__.py
  resqpy/time_series/__init__.py
  resqpy/unstructured/__init__.py
  resqpy/weights_and_measures.py
  resqpy/well/__init__.py
Labels: documentation

#346 Updated handling of const arrays and min/max values
  resqpy/property/_collection_create_xml.py
  resqpy/property/_collection_get_attributes.py
  resqpy/property/property_collection.py
Labels: bug

#347 fixes bug affecting TimeSeries from Nexus summary file
  resqpy/time_series/_from_nexus_summary.py
Labels: bug

#352 two small pure binary (ab) property files added to test data
  tests/test_data/facies.ib
  tests/test_data/ntg_355.db
Labels: tests

#353 Adding Nirjhor and Andrew to list of contributors
  docs/CONTRIBUTING.rst
Labels: documentation

#350 Additional tests for gridpropertycollection
  tests/conftest.py
  tests/test_property.py
Labels: tests

#358 Tests - rq_import/_add_ab_properties.py
  tests/test_rq_import.py
Labels: tests

#356 Tests - Single additional test to cover properties on gridd2drepresentation objects
  tests/test_property.py
Labels: tests

#360 testing of Model catalogue functions and a few other methods
  tests/test_model.py
Labels: tests

#363 Add test for correct version string
  .github/workflows/ci-tests.yml
  setup.cfg
  tests/test_resqpy.py
Labels: tests

#354 Refactoring - grid property collection
  resqpy/property/grid_property_collection.py
Labels: refactor

#364 Further unit tests of Model methods
  resqpy/grid_surface.py
  resqpy/model/_model.py
  resqpy/olio/transmission.py
  tests/test_model.py
  tests/test_s_bend.py
Labels: tests

#365 WIP: further fault tests and bug fixes
  resqpy/__init__.py
  resqpy/fault/_grid_connection_set.py
  resqpy/grid/connection_sets.py
  resqpy/property/_collection_add_part.py
  tests/test_fault.py
Labels: bug, tests
