Repository bp/resqpy, pull requests merged in 2022-07, with the labels that each got.

#529 Wellspec changes
  resqpy/olio/wellspec_keywords.py
  tests/unit_tests/olio/conftest.py
  tests/unit_tests/olio/test_wellspec_keywords.py
Labels: refactor, optimise, tests

#536 Wellspec remove duplicates option added
  resqpy/olio/wellspec_keywords.py
  tests/unit_tests/olio/conftest.py
  tests/unit_tests/olio/test_wellspec_keywords.py
Labels: enhancement, tests

#535 FineCoarse bug fix
  resqpy/olio/fine_coarse.py
  tests/unit_tests/olio/test_fine_coarse.py
Labels: bug

#537 Wellspec null columns
  resqpy/olio/wellspec_keywords.py
  tests/unit_tests/olio/conftest.py
  tests/unit_tests/olio/test_wellspec_keywords.py
Labels: enhancement, tests

#541 Handling of multiple TIMEs in WELLSPEC file
  resqpy/olio/wellspec_keywords.py
  resqpy/well/_blocked_well.py
  tests/unit_tests/olio/conftest.py
  tests/unit_tests/olio/test_wellspec_keywords.py
  tests/unit_tests/well/test_blocked_well.py
Labels: enhancement, tests

#543 fix of bug affecting Grid.coordinate_line_end_points()
  resqpy/fault/_grid_connection_set.py
  resqpy/grid/_points_functions.py
  tests/unit_tests/grid/test_points_functions.py
Labels: bug

#546 Polygons Points Memory Reduced
  resqpy/grid_surface.py
  resqpy/olio/vector_utilities.py
Labels: enhancement

#551 Column Property Wrapper Function
  resqpy/multiprocessing/wrappers/grid_surface_mp.py
  resqpy/multiprocessing/wrappers/mesh_mp.py
  tests/unit_tests/conftest.py
  tests/unit_tests/multiprocessing/test_grid_surface_mp.py
  tests/unit_tests/multiprocessing/test_mesh_mp.py
Labels: enhancement, tests

#552 Points_in_triangles_aligned njit
  resqpy/olio/vector_utilities.py
Labels: enhancement
