Repository bp/resqpy, pull requests merged in 2022-01, with the labels that each got.

#370 Ensure dev version number works when cwd is not repository root
  resqpy/__init__.py
  tests/test_resqpy.py
Labels: bug

#371 Add info about setuptools_scm
  docs/CONTRIBUTING.rst
  resqpy/__init__.py
Labels: documentation

#372 Olio/utility.py tests added
  resqpy/olio/utility.py
  tests/test_olio_utility.py
Labels: tests

#375 Add requirements.txt for reproducible envs
  docs/CONTRIBUTING.rst
  docs/resquirements.txt
Labels: enhancement

#376 Olio/write_data.py tests added. Slight refactor to other files.
  resqpy/olio/ab_toolbox.py
  resqpy/olio/write_data.py
  tests/test_olio_write_data.py
Labels: refactor, tests

#377 veronoi function refactored
  resqpy/olio/triangulation.py
Labels: refactor

#378 Relperm __init__ refactored and more tests added
  resqpy/olio/relperm.py
  tests/test_relperm.py
Labels: refactor, tests

#383 Temp path added
  tests/test_olio_write_faults.py
Labels: tests

#385 Test files split into their respective resqpy modules
  tests/integration_tests/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/derived_model/test_derived_model.py
  tests/unit_tests/fault/test_fault.py
  tests/unit_tests/fault/test_fault_connection_set.py
  tests/unit_tests/fault/test_fault_interpretation.py
  tests/unit_tests/grid/test_grid.py
  tests/unit_tests/lines/test_lines.py
  tests/unit_tests/model/test_model.py
  tests/unit_tests/olio/test_base.py
  tests/unit_tests/olio/test_box_utilities.py
  tests/unit_tests/olio/test_dataframe.py
  tests/unit_tests/olio/test_factors.py
  tests/unit_tests/olio/test_fine_coarse.py
  tests/unit_tests/olio/test_olio_grid_functions.py
  tests/unit_tests/olio/test_olio_utility.py
  tests/unit_tests/olio/test_olio_write_data.py
  tests/unit_tests/olio/test_olio_write_faults.py
  tests/unit_tests/olio/test_point_inclusion.py
  tests/unit_tests/olio/test_relperm.py
  tests/unit_tests/olio/test_transmission.py
  tests/unit_tests/olio/test_triangulation.py
  tests/unit_tests/olio/test_vector_utilities.py
  tests/unit_tests/olio/test_volume.py
  tests/unit_tests/olio/test_write_hdf5.py
  tests/unit_tests/organize/test_organize.py
  tests/unit_tests/property/test_property.py
  tests/unit_tests/rq_import/test_rq_import.py
  tests/unit_tests/strata/test_strata.py
  tests/unit_tests/surface/test_surface.py
  tests/unit_tests/surface/test_surface_pointset.py
  tests/unit_tests/test_crs.py
  tests/unit_tests/test_resqpy.py
  tests/unit_tests/test_weights_measures.py
  tests/unit_tests/time_series/test_any_time_series.py
  tests/unit_tests/time_series/test_time_duration.py
  tests/unit_tests/time_series/test_time_series.py
  tests/unit_tests/time_series/test_time_series_from_nexus.py
  tests/unit_tests/time_series/test_time_series_functions.py
  tests/unit_tests/unstructured/test_unstructured.py
  tests/unit_tests/well/test_blocked_well.py
  tests/unit_tests/well/test_deviation_survey.py
  tests/unit_tests/well/test_md_datum.py
  tests/unit_tests/well/test_s_bend.py
  tests/unit_tests/well/test_trajectory.py
  tests/unit_tests/well/test_well.py
  tests/unit_tests/well/test_well_object_funcs.py
  tests/unit_tests/well/test_well_utils.py
  tests/unit_tests/well/test_wellbore_frame.py
  tests/unit_tests/well/test_wellbore_marker.py
  tests/unit_tests/well/test_wellbore_marker_frame.py
Labels: refactor

#387 Refactor grid surface and tests
  resqpy/grid_surface.py
  tests/unit_tests/well/test_s_bend.py
Labels: refactor, tests

#390 appending realisation number to Nexus grid property file names
  resqpy/grid/grid.py
  resqpy/grid/write_nexus_corp.py
  resqpy/property/grid_property_collection.py
Labels: bug

#392 cell_properties tests added
  resqpy/grid/cell_properties.py
  tests/unit_tests/grid/conftest.py
  tests/unit_tests/grid/test_cell_properties.py
Labels: tests

#393 WIP: correcting well package init for docstring processing to readthedocs
  resqpy/strata/__init__.py
  resqpy/well/__init__.py
Labels: bug, documentation

#396 Test face functions
  resqpy/grid/face_functions.py
  tests/unit_tests/grid/test_face_functions.py
Labels: tests

#400 Test faults
  tests/unit_tests/grid/conftest.py
  tests/unit_tests/grid/test_faults.py
Labels: tests

#406 adding post-amble to rq_import init for docstring processing
  resqpy/rq_import/__init__.py
Labels: bug, documentation
